@font-face {
    font-family: 'MyFont';
    src: url('./roboto.ttf') format('ttf'), url('./lato.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
    background-size: contain;
}