body {
  background-color: whitesmoke;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif !important;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

section {
  width: 60%;
  padding: 20px 5%;
  overflow: hidden;
  -webkit-transition: padding 300ms ease-in-out, max-height 500ms ease-in-out;
  transition: padding 300ms ease-in-out, max-height 500ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  perspective: 1000;
}

.selected-list {
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 5px 10px;
  top: 0;
  max-width: 500px;
  width: 100%;
  background: white;
}

.list-header {
  display: flex;
}

.list-header h1 {
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  padding: 1rem 5px;
  line-height: 20px;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.refresh {
  display: block;
  margin: auto;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  opacity: 0.5;
  color: #000;
  margin-right: 10px;
}

.refresh::after {
  content: "4";
  background-color: yellow;
  color: red;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  top: -20px;
  right: 5px;
}

.list-add {
  padding: 0 5px;
}

form {
  display: flex;
}

input[type=text] {
  width: 100%;
  font-size: 1em;
  line-height: 50px;
  height: 50px;
  border: none;
  font-style: italic;
}

.chromeless-input {
  border: none !important;
  outline: none;
  background: transparent;
  box-shadow: none;
  overflow: hidden;
  resize: none;
}

#submit-new-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  right: 0;
  top: 0;
  z-index: 0;
  background-image: url("enter.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 50px;
  cursor: pointer;
}

#submit-new-item:hover {
  background-color: transparent;
}

.list-content {
  width: 100%;
  padding: auto;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo article {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 0;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-weight: 300;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  box-sizing: content-box;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.todo.editing {
  background-color: #fffeca;
}

.todo .edit {
  display: none;
}

.todo.editing .edit {
  display: block;
}

.todo .label {
  display: block;
}

.todo.editing .label {
  display: none;
}

.todo .toggle {
  background-color: transparent;
  outline: none;
  padding: 0;
  margin-right: 1rem;
  border: 2px solid #c1c1c3;
  cursor: pointer;
  float: left;
  color: transparent;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  box-sizing: border-box;
}

.todo .view {
  display: block;
  width: 100%;
}

.todo .view .label,
.todo .view .edit {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif !important;
  width: 100%;
  line-height: 20px;
  word-wrap: break-word;
  padding: 15px 0;
  height: 20px;
  overflow: auto;
  font-size: 1em;
}

.todo.completed .view .label {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo .destroy {
  display: none;
  opacity: 0.5;
  width: 1.4rem;
  height: 50px;
  padding: 0 0.25rem;
  margin-left: auto;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.todo.editing .destroy {
  display: block;
}

.todo .destroy:hover {
  opacity: 1;
}

.todo .move {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  padding: 0 0.5rem;
  margin-left: auto;
  height: 50px;
  line-height: 0;
  cursor: move;
}

.todo.editing .move {
  display: none;
}

.todo .move:hover {
  opacity: 1;
}

.clear-completed {
  opacity: 0.5;
}

.clear-completed:hover {
  opacity: 1;
  text-decoration: underline;
}

.link-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: whitesmoke;
  display: block;
  width: 100%;
  height: 4em;
  font-size: 0.95em;
  font-weight: 900;
}
